#Eclipse
.classpath
.project
/bin/
/.settings/

#IntelliJ
*.iml
*.ipr
*.iws
.idea/
/out/

#gradle
gradle/
gradlew
gradlew.bat
/.gradle/
/build/

#application
/logs/
/config/*.*
/tmp/
applicationPid
courseop2.jar